<h3>Admin Panel</h3>

<div class="wrapper">

<button [routerLink]="['/ViewexamUG']" type="button" class="btn btn-primary btn-lg">Registered Exams</button>
    
    </div>
    &nbsp;
    <div class="wrapper">

            <button [routerLink]="['/examdays']" type="button" class="btn btn-primary btn-lg">Create Exam</button>
            
            </div>
            &nbsp;

 <div class="wrapper">

 <button [routerLink]="['/examdaysviewadmin']" type="button" class="btn btn-primary btn-lg">ViewExamDays</button>
                    
     </div>          

  <!--  <div class="container-fluid"></div>
            
        
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row card">
                        <div class="col-sm-12">
                            <h4>Upload Section</h4>
                            <div id="fileSelector">
                                <input type="file" name="fileUplaod" id="fileUpload"
                            >
                            </div>
                            <div>
                                <div class="row uploadList" >
                                    <div class="col-sm-4">
                                      
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" 
                                         ></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                            <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
                                            <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
                                    </div>
                                </div>                        
                            </div>
                            <div class="row" >
                                    <button type="button" class="btn btn-primary" >Upload All</button>
                            </div>
                        </div>                
                    </div>
        </div>
        </div>-->
        