<div class="wrapper">

<button [routerLink]="['/examUG']" type="button" class="btn btn-primary btn-lg">Exam Registration-Undergraduate</button>

</div>
&nbsp;

<div class="wrapper">

 <button [routerLink]="['/examPG']" type="button" class="btn btn-primary btn-lg">Exam Registration-Postgraduate</button>
                
</div>
&nbsp;

<div class="wrapper">

<button [routerLink]="['/examRepeat']" type="button" class="btn btn-primary btn-lg">Exam Registration-Repeat exams</button>
                               
</div>
                       
                

<div >

<button [routerLink]="['/Myexams']" type="button" class="btn btn-success">My Exams</button>
        
 </div>
 &nbsp;

 <div >

<button [routerLink]="['/examdaysview']" type="button" class="btn btn-success">Exam TimeTable</button>
                        
</div>