<div class="card" id="content" #content>
  <div class="card-body">
    <h4 card="card-title">Undergraduate Students Exam Registration</h4>
    <button type="button" class="btn btn-warning" (click)="downloadPDF()">Generate Report</button>
    <table class="table table-hover">
      <thead>
        <tr class="table-success">
         <!-- <th>ID</th>-->
          <th>Name</th>
          <th>Index</th>
          <th>Year</th>
          <th>Subject</th>
          <td>Operations</td>
        </tr>
      </thead>
      <tbody>
        <tr class="table-primary" *ngFor="let exam of exams">
          <!-- <td>{{exam._id}}</td> -->
          <td>{{exam.name}}</td>
          <td>{{exam.index}}</td>
          <td>{{exam.year}}</td>
          <td>{{exam.subject}}</td>
          <td><button class="btn btn-danger" (click)="doDelete(exam)">Delete</button></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>